p{
    color: rgb(22, 21, 21);
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
 padding: 0;
}
h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
}
.heading-clr{
    color: orange;
}
.mission{
    display: flex;
}
.first-section{
    width: 50%;
    padding-left: 5%;
    }
.first-section img{
    margin-top: -20px;
    width:70%
   }
#in-center{
    margin-top: 50px;
    padding-left: 10%;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    color: azure;
    background-image: linear-gradient(salmon,tomato);
    border-radius: 6%;
    border-left: 10px;
}
.scroll-margin{
    margin-top: 40px;
}
.h1-border{
    border-left: 4px  solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-top-left-radius: 5%;
 
}
#h1-center{
    text-align: center;
    
}

.mission-clr{
    color: rgb(14, 14, 87);
}
.year-clr{
    color: orange;
}
.my-mission{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.icon-size img{
    width: 50%;
  
   }
.icon-size{
    width: 60%;
    padding: 20px;
    box-shadow: 10px 10px 20px white;
    width: 40%;
    margin-left: 2%;
    margin-right: 3%;
   border-radius: 5%;
}
#icon-1{
    background-color:#F5B9B8;
}
#icon-2{
    background-color: rgb(195, 212, 203);
}
#icon-3{
    background-color: rgb(231, 202, 140);
}
.second-section{
    display: flex;
    margin-top: 100px;
    padding-right: 10% ;
    
}
.second-section p{
    margin-top: -20px;
}
.second-section img{
    width: 60%;
    padding-left: 20%;
}
.third-section{
    display: flex;
    margin-top: 100px;
    padding-left: 8%;
   
}
.third-section img{
    width: 60%;
    padding-left: 10%;
    margin-bottom: 50px;
    
}  
.button-last{
    text-decoration: none;
    padding: 10px 20px;
    color: azure;
    background-image: linear-gradient(red,maroon);
    border-radius: 6%;
    border-left: 10px;
}

.footer-b{
    background-color: rgb(19, 19, 53);
    text-align: center;
    width: 100%;
    height: 150px;
   
}
.footer-mission{
    color: #f0e6e6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.footer-year{
    color: red;
}
.footer-p{
    color: rgb(160, 213, 235);

    
}
.footer br{
    display: block;
    margin-bottom: 2px;
    line-height: 2px;
}
.something-clr{
    color: rgb(34, 26, 26);
}
.section-fifth{
    display: flex;

}
.section-fifth img{
    width: 60%;
    padding-left: 20%;   
}

.do-different{
   
        display:inline-block;
        position:relative;
        padding-right: 20%;
}
.do-something{
    color: maroon;
}